.main{
    height:100vh;
}
.left-column{
    float:left;
    width: 50%;
}
.right-column{
    float:right;
    width: 50%
}

.section-sm {
    padding-top: 8rem;
    margin: auto;
    max-width: 900px;
    text-align: left;
}