<div class="section-sm">
    <div class="main">
        <!--- Summary -->
        <div class="left-column">
            <h2>About<i><p>(in about {{summaryCount}} words)</p></i></h2>
            <p *ngFor="let paragraph of summary">
                {{ paragraph }}
            </p>
            <a href="#"><button (click)="toggleSummary()" class="button">{{ moreOrLess }} about me</button></a>
        </div>
        <!--- Skills -->
        <app-skills class="right-column"></app-skills>
    </div>
</div>
